#main-header{
    background-color: #FFF;
    height: 72px;
    border-bottom: 1px solid #DDD;


}
#main-header .header-content{
    width: 100%;
    max-width: 980px;
    height: 72px;
    margin: 0 auto;
    padding: 0 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content .camera-icone{
    width: 50px;
}

.header-content .insta_logo{
    width: 200px;
}