section#post-list{
    margin: 0 auto 20px;
    width: 100%;
    max-width: 580px;
    padding: 0 30px;
}

section#post-list article{
    background-color: #fff;
    border: 1px solid #DDD;
    margin-top: 30px;
}

section#post-list article header{
    padding: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
section#post-list article .user-info {
     display: flex;
     flex-direction: column;
}

section#post-list article .user-info span{
    font-size: 1.1em;
    font-weight: bold;
}
section#post-list article .user-info span.place{
    font-size: .75em;
    margin-top: 5px;
    color: #666;
}


section#post-list article > img{
    max-width: 100%;
}
section#post-list article footer{
    padding:20px;
}
section#post-list article footer .actions{
    margin-bottom: 10px;
}
section#post-list article footer .actions i{
    margin-right: 20px;
    font-size: 1.45em;
    color: slateblue;
}
section#post-list article footer p{
    font-size: .9em;
    margin-top: 4px;
    line-height: 1.3em ;
}
section#post-list article footer span{
    color: slateblue;
    display: block;
}