form#new-post{
    width: 100%;
    max-width: 580px;
    margin: 30px auto 0;
    padding: 30px;
    border: 3px solid #DDD;
    background-color: #FFF;

    display: flex;
    flex-direction: column;
}

form#new-post input{
    margin-bottom: 10px;
}
form#new-post input[type='text']{
    height: 38px;
    padding: 0 20px;
    border: 3px solid #DDD;
    border-radius: 4px;
    font-size: 1em;
}

form#new-post button{
    height: 38px;
    background-color: slateblue;
    color: snow;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    transition: .7s all;
    font-size: 1em;
}
form#new-post button:hover{
    outline: 2px solid slateblue;
    outline-offset: 3px;
    font-size: 1.02em;
    
}
