form#new-post{
    width: 100%;
    max-width: 580px;
    margin: 30px auto 0;
    padding: 30px;
    border: 3px solid #DDD;
    background-color: #FFF;

    display: flex;
    flex-direction: column;
}

form#new-post input{
    margin-bottom: 10px;
}
form#new-post input[type='text']{
    height: 38px;
    padding: 0 20px;
    border: 3px solid #DDD;
    border-radius: 4px;
}

form#new-post button{
    height: 38px;
    background-color: slateblue;
    color: snow;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

